
body{
background: #f3f1f1d9
}


.posts-list{

    margin-top:170px;
}

.post{
    margin-top: auto;
    width: 614px;
    border: 1px solid #ccc;
    padding: 0.5px;
    background-color: white;
    margin-left: 13%;
    margin-bottom: 25px;
   /* height: 814px; */
}

.divider{
    width: 100%;
    color: gray;
    /* size: 1px; */
    border-width: 0.1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0.5px;
    height:0.1px;
    margin-bottom: 0px;

}

.post-header {
    display: flex;
    flex-direction: row;
    /*padding-left: 20px;
    padding-top: 10px; */
}

.profile-image{

    margin-left: 20px;
    margin-top: 20px;

}
.profile-image img{
    border-radius: 50%;
    max-width: 40px;
    margin-right: 10px;
}

.profile-name{
    margin-top: 15px;
}

.comment-icons
{
display: flex;
flex-direction:row;
}

.comment-icons > div{
    margin: 5px;
}

.comment-input{
    width:607px;
    height: 60px;
}
