{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% if user.is_authenticated %}

  <div class="header">

    <div class="logo">
      <img src="https://i.imgur.com/zqpwkLQ.png" />
    </div>

    <div class="search-bar">
      <input type="text" class="search-bar-input" placeholder="Search">
    </div>

    <div class="icons-data">

      <div class="home">
        <a href="#"><i class="fa fa-home fa-inverse" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="messenger">
        <a href="#"><i class="fab fa-facebook-messenger fa-inverse" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="heart">
        <a href="#"><i class="fa fa-compass fa-inverse" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="compass">
        <a href="#"><i class="far fa-heart" style="font-size:25px;color:black;"></i></a>
      </div>
      <div class="nav-profile-image">
         {% if profile.profile_pic == None %}
          <img class="rounded-circle avatar"  src="{% static 'img/avatar.jpg' %}"  alt="{{ profile.user.username }}" data-holder-rendered="true">
        {% else %}
          <a><img class="rounded-circle avatar" src="{{ profile.profile_pic.url }}" alt="{{ profile.user.username }}"  data-holder-rendered="true"></a>
        {% endif %}

      </div>

    </div>
  </div>



  <div class="posts-list">
    {% for post in posts %}
    <div class="post">
    <div class="post-header">
      <div class="profile-image">
        {% if not post.author.profile_pic %}
          <img class="rounded-circle avatar"  src="{% static 'img/avatar.jpg' %}"  alt="{{ profile.user.username }}" data-holder-rendered="true">
        {% else %}
          <img class="rounded-circle avatar"  src="{{ post.author.profile_pic.url }}"  alt="{{ profile.user.username }}" data-holder-rendered="true">
        {% endif %}
      </div>
      <div class="profile-name">
        <p>{{ user.get_username }} </p>
      </div>
      <div class="location">
<!--        {{ post.location }}-->
      </div>

    </div>
      <hr class="divider">
    <div class="image-post">
        <a href="url">
        <img style="width: 100%;" src="{{ post.image.url }}" alt="{{ post.caption }}">
    </a>
    </div>
    <div class="comment-section">
      <div class="comment-icons">
        <div class="heart">
          <a href="#"><i class="far fa-heart" style="font-size:25px;color:black;"></i></a>
        </div>
        <div class="comment">
          <a href="#"><i class="far fa-comment" style="font-size:25px;color:black;"></i></a>
        </div>
        <div class="telegram">
          <a href="#"><i class="fab fa-telegram-plane" style="font-size:25px;color:black;"></i></a>
        </div>

      </div>
      <div class="likes">
        <p> 13 Likes</p>
      </div>
      <div class="comment-list">
        <p><strong>Jebaseelan</strong>Looks cool!! </p>
        <p><strong>Gates</strong>Awesome cool!!</p>
      </div>
      <div class="posttime">
        <p>Posted 12 hrs ago</p>
      </div>
      <div class="comment-area">
        <input class="comment-input" type="text" placeholder="Add a Comment...">
      </div>
    </div>
    </div>


      {% endfor %}


  </div>

{% else %}
  <p>You are not logged into</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}